Videos
snap
Templates
Public
Pictures
Music
Downloads
Documents
Desktop
Anacoda
.x2go
.vscode
.ssh
.pki
.local
.gnupg
.dotnet
.config
.cache
.gitconfig
.ICEauthority
.bashrc
.bash_logout
.bash_history
.lesshst
.profile
.selected_editor
.sudo_as_admin_successful
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.xsession-x2go-lspi-2024-errors
.xsession-x2go-lspi-2024-errors.old
install.sh
Projects
.dmrc